html{
	font-family: inherit;
	text-align: left;
	color: black;
  }

  body {
	max-width: 50px;
	margin: 5px;
  } 

  input {
	padding-top: 10px;
	width: 500px;
	height: 30px;
	font-size: 16px;
	border: 0;
  }

  input:focus {
	outline:none;
  }

  li { 
	font-size: 20px;
	list-style-position: none;
	margin: 1%;
  }


  li:hover {
	text-decoration: line-through;
  }

